{% load static %}
<aside class="d-none d-lg-flex flex-column justify-content-center align-items-center">
  <div class="custom-image">
    <a href="{% url 'welcome' %}">
      <img src="{% static 'img/iconAboutUs.png' %}">
      <p>Zona Fans</p>
    </a>
  </div>
  <div class="custom-image">
    <a href="{% url 'about' %}">
      <img src="{% static 'img/iconAboutUs.png' %}">
      <p>Acerca de Nosotros</p>
    </a>
  </div>
  <div class="custom-image">
    <a href="{% url 'products' %}">
      <img src="{% static 'img/iconProducts.png' %}">
      <p>Conoce nuestros productos</p>
    </a>
  </div>
  <div class="custom-image">
    <a href="{% url 'welcome' %}">
    <img src="{% static 'img/IconSpecialProducts.png' %}">
    <p>Productos Especiales</p>
  </a>
  </div>
  <div class="custom-image">
    <a href="{% url 'contact' %}">
      <img src="{% static 'img/IconContact.png' %}">
    <p>Contacto</p>
  </a>
  </div>
</aside>