{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-12 col-md-6 offset-md-3 mt-4 mb-4">
        <h3 class="text-center neon-Class">Registrarse</h3>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Usuario</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña</label>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}