body {
  background-color: black;
  color: white;
}

/*FONTS*/
#roboto {
  font-family: "Roboto Mono", monospace;
  color: #747ec6;
  margin-top: 10px;
}

#playwrite {
  font-family: "Playwrite MX", cursive;
  font-weight: bold;
}

/*NEON*/
.neon-class {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
}
.neon-line {
  padding: 10px 7px 7px 7px;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px #ffa800, inset 0 0 7px 2px #ffa800;
}

.custom-btn {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff;
  text-shadow: 0 0 10px #1efbf8, 0 0 30px #1efbf8, 0 0 10px #1efbf8,
    0 0 10px #1efbf8;
  outline: 1.5px solid white;
  box-shadow: 0 0 10px 5px #1efbf8, inset 0 0 7px 2px #1efbf8;
}
.custom-btn:hover {
  text-shadow: 0 0 10px #1efbf8, 0 0 35px #1efbf8, 0 0 15px #1efbf8,
    0 0 15px #1efbf8;
  box-shadow: 0 0 5px 7px #1efbf8, inset 0 0 10px 5px #1efbf8;
}

#content {
  padding-top: 20px; /* Ajusta según el espacio que desees entre el contenido y el header */
  min-height: calc(
    100vh - 80px
  ); /* Ajusta el valor '80px' según el tamaño real del footer */
}

/*NAVBAR*/
.text-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  text-shadow: 0 0 6px #ffa800, 0 0 12px #ffa800;
}

.onlyFlansLogo {
  width: 70px;
}

.imgSize {
  width: 40px;
  height: auto;
}
#navbar {
  width: 100vw;
}

/*color navbar icon*/
/* Oculta el ícono por defecto */
.navbar-toggler-icon {
  display: none;
}

/* Añade la imagen del menú usando ::after */
.navbar-toggler::after {
  content: "";
  display: inline-block;
  width: 40px; /* Ajusta el ancho según tus necesidades */
  height: 40px; /* Ajusta la altura según tus necesidades */
  background: url("../img/neonNavbar.png") no-repeat center center;
  background-size: contain;
}
/*fin color navbar icon*/
.sizeHover:hover {
  transform: scale(1.2);
}

.navbar-nav .nav-link {
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
}
/*h2*/
.custom-heading {
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
}

.custom-link {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
}

.custom-link:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
}
/*Fin h2*/

/*footer*/
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: auto;
}
/*Fin footer*/

/*INDEX*/
.custom-title {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 40px #ffa800,
    0 0 50px #ffa800, 0 0 60px #ffa800;
}

.line {
  width: 260px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 90% 0;
  box-shadow: 0 0 10px 5px #1efbf8;
}

/*carrusel*/
.custom-carousel img{
  width: 5px;
}
/*Fin carrusel*/

/*Scroll Menu*/
.scrollable-section {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
}
.scrollable-section img {
  width: 100px;
}

.custom-image {
  width: 100px;
  height: auto;
}

@media (min-width: 992px) {
  .custom-image img {
    width: 100px;
    height: auto;
  }
}
.noContainer {
  width: 100vw;
}

/*ABOUT US*/
.line2 {
  width: 200px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 90% 0;
  box-shadow: 0 0 10px 5px #1efbf8;
}

/*REGISTER*/
.small-font-size {
  font-size: 0.8rem;
  color: rgb(220, 220, 220);
  text-shadow: 0 0 5px #ffa800, 0 0 10px #ffa800, 0 0 5px #ffa800,
    0 0 5px #ffa800;
  opacity: 50%;
}
.small-font-size:hover {
  opacity: 100%;
}

.line3 {
  width: 160px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 90% 0;
  box-shadow: 0 0 10px 5px #1efbf8;
}

.googleLogo {
  width: 40px;
  height: auto;
}

.custom-google-btn {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 10px #ffa800,
    0 0 10px #ffa800;
  outline: 1.5px solid white;
  box-shadow: 0 0 10px 5px #ffa800, inset 0 0 7px 2px #ffa800;
}
.custom-google-btn:hover {
  text-shadow: 0 0 10px #ffa800, 0 0 35px #ffa800, 0 0 15px #ffa800,
    0 0 15px #ffa800;
  box-shadow: 0 0 5px 7px #ffa800, inset 0 0 10px 5px #ffa800;
}
