body {
  background-color: black;
  color: white;
}
#roboto {
  font-family: "Roboto Mono", monospace;
  color: #747ec6;
  margin-top: 10px;
}

#playwrite {
  font-family: "Playwrite MX", cursive;
  font-weight: bold;
}
.onlyFlansLogo {
  width: 70px;
}

.imgSize {
  width: 40px;
  height: auto;
}
#navbar {
  width: 100vw;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.sizeHover:hover {
  transform: scale(1.2);
}
/*INDEX*/
.custome-title {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 0 0 10px #ffa800, 0 0 30px #ffa800, 0 0 40px #ffa800,
    0 0 50px #ffa800, 0 0 60px #ffa800;
}

.line {
  width: 260px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 90% 0;
  box-shadow: 0 0 10px 5px #1efbf8;
}

.customCarousel {
  box-shadow: 0 0 10px 5px #1efbf8;
}

